<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="dismiss()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Update Country</h4>
</div>
<div class="modal-body form-horizontal">
    <!--div class="form-group">
        <label for="country-id" class="col-sm-3 control-label">ID</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="country-id" ng-model="country.id" placeholder="ID" />
        </div>
    </div-->
    <div class="form-group">
        <label for="country-alpha2" class="col-sm-3 control-label">Alpha 2</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="country-alpha2" ng-model="country.alpha2" placeholder="ISO 3166-1 Alpha 2" />
        </div>
    </div>
    <div class="form-group">
        <label for="country-alpha3" class="col-sm-3 control-label">Alpha 3</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="country-alpha3" ng-model="country.alpha3" placeholder="ISO 3166-1 Alpha 3" />
        </div>
    </div>
    <div class="form-group">
        <label for="country-name" class="col-sm-3 control-label">Name</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="country-alpha2" ng-model="country.name" placeholder="Name" />
        </div>
    </div>
    <div class="form-group">
        <label for="country-alt_name" class="col-sm-3 control-label">Alt. Name</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="country-alt_name" ng-model="country.alt_name" placeholder="Alternative name" />
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-link" ng-click="dismiss()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="update()">Update Country</button>
</div>